<div appCanvas class="canvas"
(emitConfig)="updateCanvasConfig($event)"
[paramStartingColor]="canvasParam.colors.start"
[paramEndingColor]="canvasParam.colors.end"
[paramPoints]="canvasParam.points"
[paramMarginX]="canvasParam.margin.x"
[paramMarginY]="canvasParam.margin.y"
[paramSpread]="canvasParam.spread"
[paramStrokeWidth]="canvasParam.stroke?.width"
[paramShowGrid]="canvasParam.showGrid"></div>

<ul>
  <li><b>Static Configuration</b></li>
  <li *ngIf="canvasConfig"><pre>{{canvasConfig | json}}</pre></li>

  <li>
    <label>
      <div>Points</div>
      <input type="number" name="points" [(ngModel)]="canvasParam.points" max="10" min="0" step="1">
    </label>
  </li>
  <li>
    <label>
      <div>Margin X</div>
      <input type="number" name="marginX" [(ngModel)]="canvasParam.margin.x" max="1" min="0" step="0.1">
    </label>
  </li>
  <li>
    <label>
      <div>Margin Y</div>
      <input type="number" name="marginY" [(ngModel)]="canvasParam.margin.y" max="1" min="0" step="0.1">
    </label>
  </li>
  <li>
    <label>
      <div>Stroke Width</div>
      <input type="number" name="strokeWidth" [(ngModel)]="canvasParam.stroke.width" max="10" min="0" step="0.1">
    </label>
  </li>
  <li>
    <label>
      <div>Spread lines</div>
      <input type="number" name="spread" [(ngModel)]="canvasParam.spread" max="20" min="5" step="1">
    </label>
  </li>
  <li>
    <label>
      <div>Show Grid?</div>
      <input type="checkbox" name="showGrid" [(ngModel)]="canvasParam.showGrid">
    </label>
  </li>
</ul>

