<div class="canvas">
  <div class="canvas-inner">
    <nls-graphs [config]="config" [restoredHistory]="restoredHistory" (svgChange)="prepareSvgExport($event)" [animation]="animationActive"></nls-graphs>
  </div>
</div>

<aside class="col-sm-4 col-lg-3 col-xl-3">
  <div class="aside-inner">
    <form [formGroup]="configForm" (ngSubmit)="updateGraphs()" novalidate>
      <!-- <div class="pb-5">
        <h5>Grundfläche</h5>
        <hr>
        <ng-container formGroupName="margin">
          <div class="form-group mb-4">
            <label class="form-control-label">
              X-Achse
            </label>
            <input type="number" class="form-control" min="0" formControlName="x">
          </div>
          <div class="form-group mb-4">
            <label class="form-control-label">
              Y-Achse
            </label>
            <input type="number" class="form-control" formControlName="y">
          </div>
        </ng-container>
        <div class="form-group">
          <label class="form-control-label">
            Skalierung
          </label>
          <input type="number" class="form-control" formControlName="scale" min="0" max="1" step="0.01">
        </div>
      </div> -->
      <div class="pb-5">
        <h5>Vektorfläche</h5>
        <hr/>
        <div class="form-group">
          <label class="form-control-label">
            Ausdehnung: {{ configForm.value.overlap }}
          </label>
          <input type="range" class="form-control" formControlName="overlap" min="0" max="2" step="0.1">
        </div>
        <ng-container formGroupName="vectors">
          <div class="form-group">
            <label class="form-control-label">
              Vektorenstärke: {{ configForm.value.vectors.range }}
            </label>
            <input type="range" class="form-control" formControlName="range" min="0" max="1" step="0.1">
          </div>
        </ng-container>
      </div>
      <h5 class="mt-2">Graph</h5>
      <!-- <hr>
      <small>Anzahl der Schwingungen mittels Knotenpunkten bestimmen und die Skalierung auf der Leinwand einstellen.</small> -->
      <hr>
      <div class="form-group mb-4">
        <label class="form-control-label">
          Windungen: {{ configForm.value.nodes }}
        </label>
        <input type="range" class="form-control" formControlName="nodes" min="1" max="20">
      </div>

      <ng-container formGroupName="vectors">
        <label class="form-control-label">
          Vektorenrichtung
        </label>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-control" formControlName="start">
                <option value="1">🠝 Oben</option>
                <option value="0.5">🠞 Rechts</option>
                <option value="0">🠟 Unten</option>
                <option value="1.5">🠜 Links</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-control" formControlName="end">
                <option value="1">🠝 Oben</option>
                <option value="0.5">🠞 Rechts</option>
                <option value="0">🠟 Unten</option>
                <option value="1.5">🠜 Links</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group mb-4">
          <label class="form-control-label">
            Anfangsabstand: {{ configForm.value.vectors.spacing }}
          </label>
          <input type="range" class="form-control" formControlName="spacing" min="0" max="10" step="0.1">
        </div>
      </ng-container>

      <!-- <div class="form-group">
        <label class="form-control-label">
          Linienstärke: {{ configForm.value.stroke }}
        </label>
        <input type="range" class="form-control" formControlName="stroke" min="0.1" max="10" step="0.1">
      </div> -->

      <ng-container formGroupName="spread">
        <div class="form-group mb-4">
          <label class="form-control-label">
            Linienanzahl:  {{ configForm.value.spread.amount }}
          </label>
          <input type="range" class="form-control" min="1" formControlName="amount">
        </div>
        <div class="form-group mb-4">
          <label class="form-control-label">
            Linienabstände: {{ configForm.value.spread.spacing }}
          </label>
          <input type="range" class="form-control" formControlName="spacing" min="0" max="50">
        </div>
      </ng-container>

      <div class="form-group">
        <label class="form-control-label">
          Animationsinterval: {{ configForm.value.interval }}ms
        </label>
        <input type="range" class="form-control" formControlName="interval" min="100" max="10000" step="100">
      </div>

      <div class="form-group d-flex flex-colmn justify-content-between align-items-center mb-4">
        <label class="form-control-label">
          Animation
        </label>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn" (click)="startAnimation()" [ngClass]="{'btn-outline-primary': !animationActive, 'btn-primary': animationActive}">An</button>
          <button type="button" class="btn" (click)="stopAnimation()" [ngClass]="{'btn-outline-primary': animationActive, 'btn-primary': !animationActive}">Aus</button>
        </div>
      </div>
      <!-- <div class="dropdown-divider mb-4"></div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="configForm.invalid || animationActive">Aktualisieren</button>
      <div class="dropdown-divider mt-4"></div> -->
    </form>

    <div class="row mt-4">
      <div class="col-sm mb-sm-3">
        <button class="btn btn-secondary btn-block" (click)="exportSvg()">Download SVG</button>
      </div>
      <div class="col-sm mt-xs-2 mt-sm-2 mt-md-0">
        <button class="btn btn-secondary btn-block" (click)="toggleList()">
          Verlauf <span class="badge badge-light badge-pill">{{ list.length }}</span>
        </button>
      </div>
    </div>

    <div *ngIf="showList" class="list-group mt-4">
      <a href="#" *ngFor="let item of list.slice().reverse(); let i = index" class="list-group-item d-flex flex-row" (click)="restoreGraph(item)">
        <span class="text-muted pr-3">#{{ list.length - i }}</span>
        <div class="d-flex flex-column">
          <div class="">
            <span class="badge badge-primary  mr-2">
              {{ item.config.nodes }} Knoten
            </span>
            <span class="badge badge-primary">
              {{ item.config.spread.amount }} Linien
            </span>
          </div>
          <div>
            {{ item.date | amTimeAgo }}
          </div>
        </div>
      </a>
    </div>
  </div>
</aside>

