<div appCanvas class="canvas"  (emitConfig)="updateCanvasConfig($event)" [param]="canvasParam"></div>

<ul *ngIf="canvasConfig">
  <li><b>Static Configuration</b></li>
  <li><pre>{{canvasConfig | json}}</pre></li>
  <li><b>Changeable Parameters</b></li>
  <li><pre>{{canvasParam | json}}</pre></li>

  <li>
    <label>
      <div>Amount of points</div>
      <input type="number" name="canvasParam.points" [(ngModel)]="canvasParam.points" max="10" min="0" step="1">
    </label>
  </li>
  <li>
    <label>
      <div>Margin X</div>
      <input type="number" [(ngModel)]="canvasParam.margin.x" max="1" min="0" step="0.1">
    </label>
  </li>
  <li>
    <label>
      <div>Margin Y</div>
      <input type="number" [(ngModel)]="canvasParam.margin.y" max="1" min="0" step="0.1">
    </label>
  </li>
  <li>
      <label>
        <div>Stroke Width</div>
        <input type="number" [(ngModel)]="canvasParam.stroke.width" max="10" min="0" step="0.1">
      </label>
    </li>
</ul>

